html, body {
    font-size: 35px;
}

div.center {
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:root { 
  --red: #d33;
}

a {
    color: color(red a(50%));
}